<div
  class="card"
  style="display: flex; justify-content: center"
  *ngFor="let contact of listOfContacts; let index = index"
>
  <ul style="width: 50%" class="list-group list-group-flush">
    <li class="list-group-item">
      <div fxLayout="row" fxLayoutGap="30px">
        <div class="container-div">
          <p>{{ contact.name }}</p>
        </div>
        <div>
          <button
            type="button"
            class="btn btn-primary px-3"
            (click)="onEdit(index, contact)"
          >
            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
          </button>
        </div>
        <div>
          <button
            type="button"
            class="btn btn-primary px-3"
            (click)="onDelete(index)"
          >
            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
<div>
  <div class="container">
    <button
      type="button"
      class="btn btn-primary px-3"
      routerLink="/contact-add"
    >
      <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
    </button>
  </div>
</div>
